/* Colors */
/* Basic setting */
*,
*::after,
*::before {
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix::after,
.header::after,
.top-line::after,
.wrap::after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: Ubuntu, sans-serif;
}

p {
  line-height: 1.5;
}

.wrap {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header setting */
.header {
  width: 100%;
  padding: 1rem 0;
  z-index: 11;
}
.header__logo {
  float: left;
  margin-bottom: 16px;
}
.header__contact {
  float: right;
  margin-top: 30px;
}
.header__vk {
  float: left;
  margin-right: 10px;
}
.header__contact-right {
  float: right;
  text-align: right;
}
.header__nav {
  float: left;
  margin: 30px 0 0 50px;
}
.header__email-address {
  margin-top: 7px;
}

.glide {
  position: fixed;
  top: 0;
  background: #00a6a6;
  -webkit-box-shadow: 0px 16px 41px -20px #000000;
          box-shadow: 0px 16px 41px -20px #000000;
}

.top-line {
  border-bottom: 1px solid #fff;
}

.phone-number,
.email-address {
  text-decoration: none;
  color: #fff;
}

.phone-number:hover,
.email-address:hover {
  color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.logo__picture,
.vk__picture,
.inst__picture,
.twit__picture {
  max-width: 100%;
}

/* Nav setting */
.nav__list,
.brands {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.brands {
  margin-top: 50px;
}

.link {
  color: #fff;
  text-decoration: underline;
}
.link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav__link {
  text-decoration: none;
  display: block;
}

.link-brand {
  color: #fff;
  font-weight: 700;
}
.link-brand:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav__item,
.brands__item {
  display: inline-block;
  margin-left: 35px;
}

.brands__item:first-child {
  margin-left: 0px;
}

.mobile_nav__list {
  display: none;
}

/* Nav burger */
.btn-nav {
  border: 0;
  background: none;
  cursor: pointer;
}

.btn-nav:hover {
  border: 0;
}

.btn-nav__line {
  display: block;
  width: 56px;
  height: 4px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 12px;
}

.btn-nav__line:last-child {
  margin-bottom: 0;
}

.header__nav__btn {
  float: left;
  margin: 0 30px 0 0;
  display: none;
}

/* Started section */
.section-started {
  background: #00A5A1 url(../images/bg.jpg) no-repeat top center;
  padding: 0 0 140px 0;
  color: #fff;
}

.section-started__content {
  max-width: 50%;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
}

/* Injection section */
.section-injection {
  background: #E3B5C2;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.inj_pic {
  background: url(../images/bg4.png) no-repeat;
  height: 704px;
  float: left;
  width: 843px;
  margin-left: -300px;
}

.stoune_pic {
  background: url(../images/Object2.png) no-repeat;
  height: 404px;
  width: 402px;
  position: absolute;
  top: 100px;
  right: -200px;
}

.section-injection__content {
  float: right;
  max-width: 50%;
  margin-left: -300px;
}

.m-title {
  font-size: 75px;
  font-weight: 500;
  margin: 70px 0 30px 0;
}

.type_inj,
.type_brands {
  background-color: #D4A3B1;
  padding: 20px 30px;
  max-width: 47%;
  display: inline-block;
  border-radius: 4px;
  margin: 70px 0 110px 0;
  vertical-align: top;
}

.type_inj,
.type_cosm {
  margin-right: 4%;
}

.type_inj__title,
.type_brands__title,
.type_cosm__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.type-inj-list,
.brands-list,
.type-cosm-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.brands-list__link,
.type-inj-list__link,
.type-cosm-list__link {
  display: block;
  line-height: 1.8;
  color: #fff;
  text-decoration: underline;
}
.brands-list__link:hover,
.type-inj-list__link:hover,
.type-cosm-list__link:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

/* Profcosmetics section */
.section-profcosmetics {
  background: #00A5A1;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.cosmetics_pic {
  background: url(../images/bg5.png) no-repeat;
  height: 1123px;
  width: 888px;
  position: absolute;
  top: 150px;
  right: -300px;
}

.flower_pic {
  background: url(../images/Object97.png) no-repeat;
  height: 943px;
  width: 650px;
  position: absolute;
  top: 100px;
  left: -200px;
  z-index: 1;
}

.section-profcosmetics__content {
  float: left;
  max-width: 65%;
  z-index: 10;
  position: relative;
}

.type_cosm,
.type_brands_b {
  background-color: #189996;
  padding: 20px 30px;
  max-width: 45%;
  display: inline-block;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 110px;
  vertical-align: top;
}

/* Calculator section */
/* Subscribe */
.section-subscribe {
  background: #E3B5C2;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.section-subscribe__content {
  max-width: 70%;
  z-index: 10;
  position: relative;
  margin: 0 auto;
}

.form-title {
  font-size: 60px;
  font-weight: 500;
  margin: 40px 0 30px 0;
  text-align: center;
}

.leaf1_pic {
  background: url(../images/Group5.png) no-repeat;
  height: 506px;
  width: 693px;
  position: absolute;
  top: -66px;
  left: -300px;
}

.leaf2_pic {
  background: url(../images/Group6.png) no-repeat;
  height: 943px;
  width: 650px;
  position: absolute;
  z-index: 1;
  top: -32px;
  right: -420px;
}

#subscribe_form {
  margin: 100px 0;
}

.subscribe_form {
  margin-top: 50px;
}

.group {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}

.group__input {
  padding: 0 35px;
  width: 100%;
  height: 58px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 58px;
  -moz-border-radius: 58px;
  -webkit-border-radius: 58px;
  -khtml-border-radius: 58px;
}
.group__input::-webkit-input-placeholder {
  color: #fff;
}
.group__input::-moz-placeholder {
  color: #fff;
}
.group__input:-moz-placeholder {
  color: #fff;
}
.group__input:-ms-input-placeholder {
  color: #fff;
}
.group__input:focus::-webkit-input-placeholder {
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}
.group__input:focus::-moz-placeholder {
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}
.group__input:focus::-moz-placeholder {
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}
.group__input:focus::-ms-input-placeholder {
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}

.group__input-btn {
  background: #fff url(../images/chevron-small-right.png) no-repeat center center;
  padding: 0 40px;
  position: absolute;
  top: 4px;
  right: 4px;
  height: 50px;
  line-height: 52px;
  border-color: #fff;
  vertical-align: top;
  border-radius: 38px;
  -moz-border-radius: 38px;
  -webkit-border-radius: 38px;
  -khtml-border-radius: 38px;
  z-index: 15;
}
.group__input-btn:hover {
  background: rgba(255, 255, 255, 0.7) url(../images/chevron-small-right.png) no-repeat center center;
}

.politic {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-top: 15px;
}

/* Footer */
.footer {
  background: #4A4A4A;
  color: #fff;
  padding: 72px 0 80px 0;
}
.footer__info {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-top: 15px;
  line-height: 1.5;
}
.footer__phone-number {
  margin-top: 30px;
}
.footer__email-address, .footer__office-address {
  margin-top: 20px;
}

.contact-block {
  margin-right: 1%;
  width: 28%;
  display: inline-block;
  vertical-align: top;
}

.footer-nav {
  margin-right: 1%;
  width: 22%;
  display: inline-block;
  vertical-align: top;
}

.contact2-block {
  margin-right: 1%;
  width: 23%;
  display: inline-block;
  vertical-align: top;
}

.subscribe-block {
  width: 23%;
  display: inline-block;
  vertical-align: top;
}

.madeby {
  margin-top: 60px;
  font-weight: 400;
}

.red-t {
  color: #D0021B;
  font-weight: 500;
}

.f-nav {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.f-nav_link {
  display: block;
  line-height: 2.4;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.f-nav_link:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

.f-c-title {
  font-weight: 500;
  margin-bottom: 8px;
}

/* Footer form */
#subscribe_f_form {
  margin: 27px 0;
  max-width: 100%;
}

.subscribe_form {
  margin-top: 50px;
}

.form-f-title {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 500;
}

.subscribe__input {
  padding: 0 20px;
  width: 100%;
  height: 58px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
}
.subscribe__input::-webkit-input-placeholder {
  color: #fff;
}
.subscribe__input::-moz-placeholder {
  color: #fff;
}
.subscribe__input:-moz-placeholder {
  color: #fff;
}
.subscribe__input:-ms-input-placeholder {
  color: #fff;
}
.subscribe__input:focus::-webkit-input-placeholder {
  outline: none;
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}
.subscribe__input:focus::-moz-placeholder {
  outline: none;
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}
.subscribe__input:focus::-moz-placeholder {
  outline: none;
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}
.subscribe__input:focus::-ms-input-placeholder {
  outline: none;
  line-height: 100px;
  -webkit-transition: line-height 0.5s ease;
  transition: line-height 0.5s ease;
}

.subscr_f_btn {
  margin: 20px 0;
}

.subscribe_f-btn {
  display: block;
  height: 46px;
  width: 100%;
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
}
.subscribe_f-btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.vk,
.inst,
.twit {
  display: inline-block;
  margin-right: 20px;
}

.social-links_tab {
  display: none;
}
